.app {
  display: flex;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 20px;
}

.app-logo {
  margin-bottom: 18px;
  cursor: pointer;
}

.tweets-container {
  display: grid;
}

.followsContainer {
  display: grid;
  margin-right: 40px;
  width: 300px;
}

.separator {
  background-color: rgb(21, 24, 28);
  border: 1px solid rgb(47, 51, 54);
  border-top: 0;
  border-bottom: 0;
  height: 10px;
}

.back-button {
  flex: 0 0 auto;
  padding: 5px 18px;
  width: 85px;
  line-height: 28px;
  background-color: rgb(29, 161, 242);
  color: white;
  border-radius: 50px;
  border: 0;
  font-size: 0.9em;
  font-weight: bold;
  margin-bottom: 10px;
  height: 50px;
}
