p {
    text-align: center;
}

.followContainer {
    border: 1px solid rgb(47, 51, 54);
    display: grid;
    padding-right: 35px;
    text-align-last: justify;
    width: 250px;
}

.follow-button {
    flex: 0 0 auto;
    padding: 5px 18px;
    width: auto;
    line-height: 20px;
    background-color: rgb(29, 161, 242);
    color: white;
    border-radius: 50px;
    border: 0;
    font-size: 0.9em;
    font-weight: bold;
}

.user {
    cursor: pointer;
}